body {
    font-family: "Poppins", sans-serif;
    background: #f3f5f7;
    margin: 0;
    padding: 0;
}

.admin-login-container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

    .admin-login-container input, button {
        width: 90%;
        padding: 10px;
        margin: 10px 0;
    }

button {
    background: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

    button:hover {
        background: #0056b3;
    }

.admin-dashboard header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #007bff;
    color: white;
}

.summary-cards {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 30%;
}

.admin-nav {
    text-align: center;
    margin: 20px 0;
}

    .admin-nav button {
        margin: 5px;
        background: #007bff;
        color: white;
    }

.admin-section {
    display: none;
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

    .admin-section:not(.hidden) {
        display: block;
    }

.warning-text {
    color: red;
    font-size: 14px;
}
.hint {
    font-size: 13px;
    color: #777;
    display: block;
    margin-top: 5px;
}
